### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.synctex.gz

## Coverletter files
Coverletter/coverletter.tex
Coverletter/coverletter.pdf

## MacOS metadata files ##
*.DS_Store
